examples/trace_short_flow.json
[
  {
      "id": "d5534eb0c652c49b",
      "type": "inject",
      "z": "88a445aeb802e1d5",
      "name": "",
      "props": [
          {
              "p": "payload"
          },
          {
              "p": "topic",
              "vt": "str"
          }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "x": 120,
      "y": 60,
      "wires": [
          [
              "e720ad3fda390317"
          ]
      ]
  },
  {
      "id": "e720ad3fda390317",
      "type": "function",
      "z": "88a445aeb802e1d5",
      "name": "Set message topic",
      "func": "msg.topic = \"Trace me\"\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 290,
      "y": 60,
      "wires": [
          [
              "061d8e72a9f3b7da"
          ]
      ]
  },
  {
      "id": "061d8e72a9f3b7da",
      "type": "function",
      "z": "88a445aeb802e1d5",
      "name": "Set message payload",
      "func": "msg.payload = {\n    message: \"I am being traced\"\n}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 500,
      "y": 60,
      "wires": [
          [
              "4f8824a5dcde4a04"
          ]
      ]
  },
  {
      "id": "4f8824a5dcde4a04",
      "type": "debug",
      "z": "88a445aeb802e1d5",
      "name": "timestamp_out",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 700,
      "y": 60,
      "wires": []
  },
  {
      "id": "d442b7e682192903",
      "type": "trace",
      "z": "88a445aeb802e1d5",
      "name": "",
      "x": 120,
      "y": 140,
      "wires": [
          [
              "0d4614a4a60edba2"
          ]
      ]
  },
  {
      "id": "0d4614a4a60edba2",
      "type": "debug",
      "z": "88a445aeb802e1d5",
      "name": "trace_message_out",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 310,
      "y": 140,
      "wires": []
  }
]